@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

body{
	font-family: 'Nunito', sans-serif !important;
}
.main-content{
	margin-left: 20%;
}
#nav{
	width: 20%;
	height: 100vh;
	z-index: 2;
	position: fixed;
	background-color: #37404a;
}
#nav ul{
	width: 100%;
    height: 100%;
    padding-left: 0px;
}

#nav ul li{
	list-style: none;
	padding-left: 15px;
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 15px;
}
#nav ul li a{
	color: #8391a2;
	text-decoration: none;

}
#nav ul li:hover a{
	color: #FFF;	
	transition: all 400ms ease-in-out;
	font-size: bold;	
}
#nav ul li span{
	font-size: 20px;
	margin-right: 10px;
}
.purchase-data ul{
	padding-left: 0;
}
.purchase-data ul li{
	list-style: none;
}
.active{
	color: #FFF !important;
	font-size: bold !important;	
}
.active-nav{
	left: 0 !important;
}
.bg-popup{
	width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.close-popup{
	position: absolute;
    right: 15px;
    top: 15px;
    color: darkblue;
    cursor: pointer;
}
.add-popup{
	background-color: #FFF;
	padding: 20px 15px 40px 15px;
	width: 40vw;
	transition: all 400ms ease-in-out;
	top: 5vh;
	position: relative;
	left: 30vw;

}
.add-popup button{
	width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    background-color: darkblue;
}
.addop{
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	background-color: darkblue;
	cursor: pointer;
	color: #FFF;
	border-radius: 100%;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.addop i{

}
.table th{

}
.table td{
	padding: 5px;
}
.table ul{
	padding-left: 0;
}

table ul li{
	list-style: none;
	display: inline-block;	
	margin-right: 3px;
}
table ul li a{
	text-decoration: none;
	color: #000;
}
.popup_up{
	top: -100%;
	transition: all 400ms ease-in-out;
}
.popup_down{
	top: 15vh !important;
	transition: all 400ms ease-in-out;
}
.confirm-popup{
	width: 40vw;
    padding: 30px 15px 30px 15px;
    left: 30vw;
    text-align: center;
    position: absolute;
    transition: all 400ms ease-in-out;
    top: -100%;
}

#nav-mobile{
	width: 100%;
	height: 10vh;
	text-align: center;
	line-height: 10vh;
	background-color: #37404a;
	display: none;
}
#nav-mobile span{ 
	color: #fff;
	float: left;
	padding-left: 15px;
	font-size: 35px;
	cursor: pointer;
}
@media (max-width: 600px) {
  #nav{
  	transition: all 400ms ease-in-out;
  	left: -80%;
  	width: 80%;
  }
  #nav-mobile{
  	display: block;
  }
  .main-content{
  	margin-left: 0;
  }
	.add-popup{
		width: 90vw;
		left: 5vw;
	}		
	.confirm-popup {
		width: 90vw;
		left: 5vw;
	}
}